
.logo {
  max-width: 180px;
}

.desktop-menu ul {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease;
  transform: translate(2px, 2px);
}

.desktop-menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
}